<app-header [title]="title"></app-header>

<ion-content [fullscreen]="true">
  <div style="overflow-x:auto" class="root">
    <div>
      <ion-grid>
        <ion-row>
          <ion-col>

            <div class="ion-text-center">
              <h3 style="margin: 25px">
                Get Stock Data from AlphaVantage
              </h3>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-text-center">
          <ion-col>
            <form>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <mat-form-field>
                      <input matInput placeholder="Ticker" [(ngModel)]="ticker" name="ticker">
                    </mat-form-field>
                  </ion-col>

                  <ion-col class="ion-align-self-center">
                    <mat-select placeholder="Select a period" [(value)]="period">
                      <mat-option value="daily">Daily</mat-option>
                      <mat-option value="weekly">Weekly</mat-option>
                      <mat-option value="monthly">Monthly</mat-option>
                    </mat-select>
                  </ion-col>

                </ion-row>
                <ion-row>
                  <ion-col class="ion-text-center">
                    <app-date-picker [label]="startDateLabel" (selected)="startDateSelected($event)"></app-date-picker>
                  </ion-col>

                  <ion-col class="ion-text-center">
                    <app-date-picker [label]="endDateLabel" (selected)="endDateSelected($event)"></app-date-picker>
                  </ion-col>
                </ion-row>
              <ion-row class="ion-text-center">
                <ion-col>
                  <button 
                    mat-raised-button 
                    color="primary" 
                    class="right-align stock-button" 
                    (click)="getStock()" 
                    disabled="true"
                  >
                    Get Stock Data
                  </button>
                </ion-col>                
              </ion-row>
              <ion-row>
                <ion-col>
                  <div><ion-text color="danger">**DISABLED**</ion-text></div>
                  <div><ion-text color="danger"><sub>**This is now a Premium request with AlphaVantage.**</sub></ion-text></div>
                </ion-col>                
              </ion-row>
              </ion-grid>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>

  
  <div class="root">
    <app-yahoo-stock-table [marketData]="stock" [includeCloseAdj]="false"></app-yahoo-stock-table>
  </div>
</ion-content>