<app-header [title]="title"></app-header>

<ion-content>
  <div class="page">
    <h1>Welcome to Quant Book Project</h1>
    <h2>
      This project provides sample code for the book of
      <i>Practical ASP.NET Core and Angular for Quantitive Finance</i>
    </h2>
    <h4>
      This page is a gateway. You can access various examples by clicking
      corresponding links.
    </h4>

    <ul style="margin-top: 50px; list-style: none;">
      <li>
        <p><a [routerLink]="['/']">Quant Book Home</a></p>
      </li>
      <li>
        <p>Chapter 01</p>
        <ul>
          <li><a [routerLink]="['/chapter01/counter']">Counter</a></li>
          <li><a [routerLink]="['/chapter01/fetch-data']">Fetch Data</a></li>
        </ul>
      </li>
      <li>
        <p>Chapter 02</p>
        <ul>
          <li><a [routerLink]="['/chapter02/interpolation']">Interpolation</a></li>
          <li><a [routerLink]="['/chapter02/one-way-binding']">One Way Binding</a></li>
          <li><a [routerLink]="['/chapter02/event-binding']">Event Binding</a></li>
          <li><a [routerLink]="['/chapter02/two-way-binding']">Two Way Binding</a></li>
          <li><a [routerLink]="['/chapter02/directive-test']">Directive Test</a></li>
          <li><a [routerLink]="['/chapter02/input-output']">Input Output</a></li>
        </ul>
      </li>
      <li>
        <p>Chapter 03</p>
        <ul>
          <li><a [routerLink]="['/chapter03/all-stocks']">All Stocks</a></li>
        </ul>
      </li>
    </ul>
  </div>

</ion-content>
