<app-header [title]="title"></app-header>

<ion-content>
  <div class="page root">
    <h1>Welcome to Quant Book Project</h1>
    <h2>
      This project provides sample code for the book of
      <i>Practical ASP.NET Core and Angular for Quantitive Finance</i>
    </h2>
    <h4>
      This page is a gateway. You can access various examples by clicking
      corresponding links.
    </h4>

    <ul style="margin-top: 50px; list-style: none;">
      <li>
        <p><a [routerLink]="['/']">Quant Home</a></p>
      </li>
      <li>
        <p>Basics</p>
        <ul>
          <li><a [routerLink]="['/basics/counter']">Counter</a></li>
          <li><a [routerLink]="['/basics/fetch-data']">Fetch Data</a></li>
        </ul>
      </li>
      <li>
        <p>Angular Basics</p>
        <ul>
          <li><a [routerLink]="['/angular-basics/interpolation']">Interpolation</a></li>
          <li><a [routerLink]="['/angular-basics/one-way-binding']">One Way Binding</a></li>
          <li><a [routerLink]="['/angular-basics/event-binding']">Event Binding</a></li>
          <li><a [routerLink]="['/angular-basics/two-way-binding']">Two Way Binding</a></li>
          <li><a [routerLink]="['/angular-basics/directive-test']">Directive Test</a></li>
          <li><a [routerLink]="['/angular-basics/input-output']">Input Output</a></li>
        </ul>
      </li>
      <li>
        <p>Stock Basics</p>
        <ul>
          <li><a [routerLink]="['/stock-basics/all-stocks']">All Stocks</a></li>
          <li><a [routerLink]="['/stock-basics/stock-price']">Stock Price</a></li>
          <li><a [routerLink]="['/stock-basics/index-data']">Index Data</a></li>
          <li><a [routerLink]="['/stock-basics/stock-crud']">Stock CRUD</a></li>
        </ul>
      </li>
      <li>
        <p>Stock Data</p>
        <ul>
          <li><a [routerLink]="['/stock-data/yahoo-stock']">Yahoo Stock</a></li>
          <li><a [routerLink]="['/stock-data/yahoo-stock-save']">Yahoo Stock Save</a></li>
          <li><a [routerLink]="['/stock-data/iex-stock']">IEX Stock</a></li>
          <li><a [routerLink]="['/stock-data/iex-quote']">IEX Quote</a></li>
          <li><a [routerLink]="['/stock-data/av-stock']">AV Stock</a></li>
        </ul>
      </li>
    </ul>
  </div>

</ion-content>
