<app-header [title]="title"></app-header>


<ion-content [fullscreen]="true">
  <div>
    <mat-tab-group mat-align-tabs="start">

      <mat-tab label="Area Charts">
          <mat-tab-group mat-align-tabs="start" style="margin-left: 25px;">
            <mat-tab label="Simple Chart">
              <app-area-chart [chart]="'simple'"></app-area-chart>
            </mat-tab>
            <mat-tab label="Multiple Chart">
              <app-area-chart [chart]="'multiple'"></app-area-chart>
            </mat-tab>
            <mat-tab label="Stack Chart">
              <app-area-chart [chart]="'stack'"></app-area-chart>
            </mat-tab>
          </mat-tab-group>
      </mat-tab>


      <mat-tab label="Bar Charts">
        <mat-tab-group mat-align-tabs="start" style="margin-left: 25px;">
          <mat-tab label="Vertical Chart">
            <app-bar-chart [chart]="'vertical'"></app-bar-chart>
          </mat-tab>
          <mat-tab label="Horizontal Chart">
            <app-bar-chart [chart]="'horizontal'"></app-bar-chart>
          </mat-tab>
          <mat-tab label="Group Chart">
            <app-bar-chart [chart]="'group'"></app-bar-chart>
          </mat-tab>
          <mat-tab label="Stack Chart">
            <app-bar-chart [chart]="'stack'"></app-bar-chart>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>

      <mat-tab label="Pie Charts">
        <mat-tab-group mat-align-tabs="start" style="margin-left: 25px;">
          <mat-tab label="Simple Pie Chart">
            <app-pie-chart [chart]="'simple'"></app-pie-chart>
          </mat-tab>
          <mat-tab label="Doughnut Chart">
            <app-pie-chart [chart]="'doughnut'"></app-pie-chart>
          </mat-tab>
          <mat-tab label="Rose Area Chart">
            <app-pie-chart [chart]="'area'"></app-pie-chart>
          </mat-tab>
          <mat-tab label="Rose Radius Chart">
            <app-pie-chart [chart]="'radius'"></app-pie-chart>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
    </mat-tab-group>
  </div>
</ion-content>