<app-header [title]="title"></app-header>

<ion-content [fullscreen]="true">
  <div style="overflow-x:auto" class="root">

    <div>
      <ion-grid>
        <ion-row>
          <ion-col>

            <div class="ion-text-center">
              <h3 style="margin: 25px">
                Get Stock Data from IEX
              </h3>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-text-center">
          <ion-col>
            <form>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <mat-form-field>
                      <input matInput placeholder="Ticker" [(ngModel)]="ticker" name="ticker">
                    </mat-form-field>
                  </ion-col>

                  <ion-col class="ion-align-self-center">
                    <mat-select placeholder="Select a range" [(value)]="range">
                      <mat-option value="11">Five Years</mat-option>
                      <mat-option value="10">Two Years</mat-option>
                      <mat-option value="9">One Year</mat-option>
                      <mat-option value="8">Year to Date</mat-option>
                      <mat-option value="7">Six Months</mat-option>
                      <mat-option value="6">Three Months</mat-option>
                      <mat-option value="5">One Month</mat-option>
                      <mat-option value="4">One Month Minute</mat-option>
                      <mat-option value="3">Five Day</mat-option>
                      <mat-option value="2">Five Day Minute</mat-option>
                    </mat-select>
                  </ion-col>

                </ion-row>
              </ion-grid>
              <div>
                <button mat-raised-button color="primary" class="right-align stock-button" (click)="getStock()">
                  <div *ngIf="!isLoading;else loadingSpinner">
                    Get Stock Data
                  </div>
                  <ng-template #loadingSpinner>
                    <ion-spinner></ion-spinner>
                  </ng-template>
                </button>
              </div>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>

  <div class="root">
    <app-yahoo-stock-table [marketData]="stock" [includeCloseAdj]="false"></app-yahoo-stock-table>
  </div>
</ion-content>
