<mat-dialog-content>
  <ion-grid>
    <ion-row>
      <ion-col class="right-align">
        <p>StockId: {{stock.symbolId}}</p>
      </ion-col>
      <ion-col>
        <p>Ticker: {{stock.ticker}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <p style="color: red">Do you really want to delete {{stock.ticker}}?</p>
    </ion-row>
  </ion-grid>
</mat-dialog-content>

<mat-dialog-actions class="right-align">
  <button mat-raised-button color="secondary" (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="deleteStock()">Yes</button>
</mat-dialog-actions>