<app-header [title]="title"></app-header>

<ion-content [fullscreen]="true">
  <div class="root">
    <p>This component demonstrates fetching data from the server.</p>

    <p *ngIf="!forecasts"><em>Loading...</em></p>

    <div style="overflow-x:auto">

      <table mat-table [dataSource]="forecasts">

        <ng-container matColumnDef="temperatureC">
          <mat-header-cell *matHeaderCellDef>Temp. (C)</mat-header-cell>
          <mat-cell *matCellDef="let forecast">{{forecast.temperatureC}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="dateFormatted">
          <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
          <mat-cell *matCellDef="let forecast">{{forecast.date}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="temperatureF">
          <mat-header-cell *matHeaderCellDef>Temp. (F)</mat-header-cell>
          <mat-cell *matCellDef="let forecast">{{forecast.temperatureF}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="summary">
          <mat-header-cell *matHeaderCellDef>Summary</mat-header-cell>
          <mat-cell *matCellDef="let forecast">{{forecast.summary}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </table>
    </div>
  </div>
</ion-content>