<app-header [title]="title"></app-header>

<ion-content [fullscreen]="true">
  <div>
    <mat-tab-group mat-align-tabs="start">

      <mat-tab label="Simple Line">
        <app-simple-line></app-simple-line>
      </mat-tab>

      <mat-tab label="Multiple Lines">
        <app-multiple-lines></app-multiple-lines>
      </mat-tab>

      <mat-tab label="Two Y Axes">
        <app-y2-axis></app-y2-axis>
      </mat-tab>

      <mat-tab label="Resize">
        <app-resize></app-resize>
      </mat-tab>

    </mat-tab-group>
  </div>
</ion-content>