<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <mat-toolbar color="primary">
          <mat-icon>book</mat-icon>
          <span style="font-size:20px">Quant Site</span>
        </mat-toolbar>
      </ion-header>
      <ion-content>
        <div>
          <ion-list id="inbox-list">
            <div *ngFor="let p of pages">

              <ion-menu-toggle auto-hide="false" *ngIf="p.url">
                <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                  routerLinkActive="active">
                  <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>

              <ion-item button *ngIf="p.children?.length > 0" (click)="p.open = !p.open" [class.active-parent]="p.open"
                detail="false">
                <ion-icon slot="start" name="caret-forward-outline" *ngIf="!p.open"></ion-icon>
                <ion-icon slot="start" name="caret-down-outline" *ngIf="p.open"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>

              <ion-list *ngIf="p.open">
                <ion-menu-toggle auto-hide="false">
                  <ion-item *ngFor="let child of p.children" class="sub-item" routerDirection="root"
                    [routerLink]="[child.url]" lines="none" detail="false" routerLinkActive="active">
                    <ion-label>{{ child.title }}</ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </ion-list>
            </div>
          </ion-list>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>